@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

   /* BUAT BAGIAN ATAS HEADER */
header{
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: #f7ecec;
  width: 100%;
  padding: 10px;
  font-size: 2rem;
  font-weight: bold;
  position: fixed;
  top: 0;
}

header a{
  color: #f7ecec;
  text-decoration: none;
  padding-right: 20px;
  padding-left: 20px;
}

.icon {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  align-items: center;
}

.panel {
  padding: 20px;
  border-radius: 5px;
}

.padding {
  padding-right: 60px;
  padding-left: 60px;
}

.progress-text {
  width: 100px;
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: left;
}

.container-big-skip {
height: 300px;
}

.container-medium-skip {
height: 90px;
}

.container-small-skip {
height: 30px;
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-border-color: #4d4d4d;
  --bs-popover-header-bg: #4d4d4d;
  --bs-popover-header-color: #f7ecec;
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: 0.5rem;
}

  /* BUAT BAGIAN BASIC */
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: #f7ecec;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: 'Inter';
}

body.light-mode {
  background-color: #dfdfdf;
  color: #120808;
}

body.light-mode .panel {
  background-color: #ffffff;
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.116);
  position: relative;
}

body.light-mode header {
  background-color: #7271a8;
}

body.light-mode header a:hover {
  color: #a5a3ff;
}

body.dark-mode {
  background-color: #1a1a1a;
  color: #f7ecec;
}

body.dark-mode .panel {
  background-color: #2d2d2d;
  box-shadow: 
    0 0 30px 30px rgba(255, 255, 255, 0.116),
    0 0 30px 5px rgba(255, 255, 255, 0.3),
    0 0 30px 10px rgba(255, 255, 255, 0.2),
    0 0 30px 15px rgba(255, 255, 255, 0.1);
  position: relative;
}

body.dark-mode header {
  background-color: #43426b;
}

body.dark-mode header a:hover {
  color: #8c8bc9;
}